body, html {
	width: 810px;
	height: 1250px;
	margin: 0 auto;
}

body {
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img.loader {
	position: relative;
	top: 1085px;
}

div#content {
	width: 810px;
	height: 1250px;
	position: relative;
}

/* HOME */

div#home {
	background: url(../img/home/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
}

div#home img.button {
	display: none;
	position: relative;
	top: 1045px;
	cursor: pointer;
}

/* FORMULARIO */

div#formulario {
	background: url(../img/formulario/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#formulario div.datos {
	margin-top: 400px;
}

div#formulario div.datos input {
	display: block;
	margin-left: 360px;
	width: 385px;
	height: 33px;
	margin-bottom: 62px;
	outline: none;
	border: none;
	background: transparent;
	font-family: 'blanchcaps';
	font-size: 42px;
}

div#formulario div.botones {
	position: relative;
	top: 70px;
}

div#formulario div.botones img.loader {
	top: 30px;
	position: relative;
	display: none;
}

div#formulario div.botones img.btn-siguiente {
	cursor: pointer;
}

/* RULETA */

div#ruleta {
	background: url(../img/ruleta/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
	position: relative;
}

div#ruleta img.titulo {
	position: relative;
	margin-top: 323px;
	z-index: 2;
}

div#ruleta img.ruleta {
	position: relative;
	margin-top: -53px;
	z-index: 1;
}

div#ruleta img.btn-girar {
	position: absolute;
	right: 0px;
	top: 566px;
	z-index: 3;
	cursor: pointer;
}

/* FOOTER */

div#footer {
	background: url(../img/footer/bg.jpg);
	width: 810px;
	height: 69px;
	margin-top: -69px;
	position: relative;
	clear: both;
	text-align: center;
}

div#footer a {
	font-family: 'blanchcondensed';
	color: #e128a4;
	font-size: 40px;
	vertical-align: top;
	top: 18px;
	position: relative;
	margin-left: 3px;
}