body, html {
	width: 810px;
	height: 1250px;
	margin: 0 auto;
}

body {
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
}

body * {
	-webkit-margin-collapse: separate;
}

a {
	text-decoration: none;
}

img.loader {
	position: relative;
	top: 1085px;
}

div#content, div#nolike {
	width: 810px;
	height: 1250px;
	position: relative;
}

div#nolike {
	background: url(../img/fan/bg.jpg);
}

/* HOME */

div#home {
	background: url(../img/home/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
}

div#home img.button {
	display: none;
	position: relative;
	top: 1045px;
	cursor: pointer;
}

/* FORMULARIO */

div#formulario {
	background: url(../img/formulario/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#formulario div.datos {
	margin-top: 400px;
}

div#formulario div.datos input {
	display: block;
	margin-left: 360px;
	width: 385px;
	height: 33px;
	margin-bottom: 62px;
	outline: none;
	border: none;
	background: transparent;
	font-family: 'blanchcaps';
	font-size: 42px;
}

div#formulario div.botones {
	position: relative;
	top: 70px;
}

div#formulario div.botones img.loader {
	top: 30px;
	position: relative;
	display: none;
}

div#formulario div.botones img.btn-siguiente {
	cursor: pointer;
}

/* RULETA */

div#ruleta {
	background: url(../img/ruleta/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
	position: relative;
}

div#ruleta img.titulo {
	position: relative;
	margin-top: 323px;
	z-index: 2;
}

div#ruleta img.ruleta {
	position: relative;
	margin-top: -53px;
	z-index: 1;
}

div#ruleta img.btn-girar {
	position: absolute;
	right: 0px;
	top: 566px;
	z-index: 3;
	cursor: pointer;
}

div#ruleta img.btn-siguiente {
	margin-top: 70px;
	opacity: 0.2;
}

/* MI ESTILO */

div#miestilo {
	background: url(../img/miestilo/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#miestilo img.estilo {
	display: block;
	margin: 0 auto;
	margin-top: 400px;
}

div#miestilo img.btn-compartir {
	margin-top: 100px;
	cursor: pointer;
}

div#miestilo img.loader {
	margin-top: 120px;
	display: none;
	top: 0;
}

/* FELICIDADES */

div#felicidades {
	background: url(../img/felicidades/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#felicidades img.btn-invitar {
	margin-top: 1000px;
	cursor: pointer;
}

/* PREMIOS */

div#premios {
	background: url(../img/premios/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#premios img.btn-inicio {
	margin-top: 1070px;
	cursor: pointer;
}

/* GANADORES */

div#ganadores {
	background: url(../img/ganadores/bg.jpg);
	width: 810px;
	height: 1250px;
	text-align: center;
	padding: 0.1px;
}

div#ganadores div.lista {
	margin-top: 630px;
}

div#ganadores div.lista ul {
	list-style-type: none;
	display: inline-block;
}

div#ganadores div.lista ul li {
	float: left;
	width: 230px;
	margin: 0 10px;
}

div#ganadores div.lista ul li div.imagen {
	background-color: #fff;
	padding: 10px;
	padding-bottom: 45px;	
}

div#ganadores div.lista ul li div.imagen img {
	width: 210px;
}

div#ganadores div.lista ul li div.texto {
	color: #fff;
	font-family: 'blanchcondensed';
	font-size: 2em;
	margin-top: 5px;
}

div#ganadores div.lista ul li div.texto span {
	height: 64px;
	overflow: hidden;
	display: block;
}

div#ganadores div.lista ul li div.texto hr {
	border-top: 2px solid #fff;
	margin: 0;
}

div#ganadores img.btn-inicio {
	margin-top: 30px;
	cursor: pointer;
}

/* FOOTER */

div#footer {
	background: url(../img/footer/bg.jpg);
	width: 810px;
	height: 69px;
	margin-top: -69px;
	position: relative;
	clear: both;
	text-align: center;
}

div#footer a {
	font-family: 'blanchcondensed';
	color: #e128a4;
	font-size: 40px;
	vertical-align: top;
	top: 18px;
	position: relative;
	margin-left: 3px;
}